/* Not sure best way to change font sizes with bootstrap */
body {
    font-size: 16px;
}

.navbar {
    font-size: 0.95rem;
}

.splash {
    background: url("/splash_img.jpg") no-repeat center center fixed; 
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    font-family: "Roboto", sans-serif;
    color: white;
}

.intro h1 {
    font-size: 4em;
   
}

.floated-img-container {
    float: left;
}

.floated-img-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 75%;
    margin-right: 20px;
}

.floated-title {
    display: inline-block;
    margin-left: 40px;
}

.about-section > p {
    
}

.contact-container {
    height: 90vh;
}

.contact-container > div {
    height: 100%;
}

.contact-icons {
    color: black;
}
